<mat-form-field appearance="outline">
  <mat-label>Phone number</mat-label>
  <input
    matInput
    [formControl]="numberFormControl"
    placeholder="999999999"
    [(ngModel)]="number"
  />
  <mat-icon matSuffix>call</mat-icon>
  <mat-error *ngIf="numberFormControl.invalid">Invalid number</mat-error>
</mat-form-field>
<button mat-raised-button color="primary" (click)="call()">Call</button>
<mat-card
  >Call status: <strong>{{ state }}</strong></mat-card
>
