<app-panel></app-panel>

<!-- This fills the remaining space of the current row -->

<mat-toolbar>
  {{ title }}
</mat-toolbar>
<nav mat-tab-nav-bar [backgroundColor]="background">
  <a
    mat-tab-link
    *ngFor="let link of links"
    (click)="activeLink = link"
    [active]="activeLink == link"
    routerLink="{{ link }}"
  >
    {{ link | titlecase }}
  </a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
