body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.nav-buttons > a:first-child {
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: center;
}
