.chat-container {
  min-height: 60vh;
  max-height: 60vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-grow: 0;
  padding: 10px;
  margin-bottom: 5px;
}

.message.me {
  align-self: flex-start;
}

.message.me > mat-card {
  background: rgba(41, 214, 249, 0.39);
}

.message.you > mat-card {
  background: rgba(1, 133, 248, 0.39);
}

.message.you {
  align-self: flex-end;
}

.message:last-child {
  margin-bottom: 0;
}

.example-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.example-button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: flex-start;
}
