<div class="chat-page">
  <div class="chat-container">
    <div
      *ngFor="let message of messageList"
      [ngClass]="message.sender === 'me' ? 'message me' : 'message you'"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ message.sender }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ message.body }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="parent">
    <form class="example-form">
      <mat-form-field
        class="form-element"
        style="width: 60vw;"
        appearance="outline"
      >
        <mat-label>Message</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="2"
          matAutosizeMaxRows="5"
          [formControl]="messageFormControl"
          [(ngModel)]="newMessage"
          (keyup)="$event.keyCode == 13 && sendMessage()"
        ></textarea>

        <mat-error *ngIf="messageFormControl.hasError('required')">
          Your input is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="example-button-container">
        <button
          (click)="sendMessage()"
          mat-fab
          color="primary"
          aria-label="Send the message"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
